.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;


  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    transition: 0.2s;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top:225px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button{
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;


    .name {
      width: 90%;
    }

    .price {
      width: 10%;
    }
  }
}


@media (max-width:700px){

  .collection-item {
    width:200px;
    flex-direction: column;
    flex:wrap;
    display: flex;
    align-items: center;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-top: 5px;
    }


    .collection-footer {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;

      .name {
        width: 80%;
        
      }
  
      .price {
        width: 10%;
      }
    }


  }


}
