.sign-in{
    margin-top:30px;
    width:30vw;

}


.buttons {
    display: flex;
    justify-content: space-between;

}

.sign-in {
    box-sizing: border-box;
}



@media (max-width:700px) {
    .sign-in{
        padding:50px;
        width:100%;
        flex-direction: column;
    }
}