.header {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(119, 119, 119, 0.19), 0 1px 1px rgba(160, 160, 160, 0.23);

    .logo {
      padding:22%;
     
    }
    
  
    .options {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 10%;

  
      .option {
        padding: 10px 15px;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
      }

      .option:hover{
        color: grey;
      }
    }
  }

  @media (max-width:700px){

    .header {
      height: 90px;
    
      .logo {
        padding:20px;
      }
    
      .options {
        margin-right: 20%;
        text-align: center;
  
    
        .option {
          padding: 15px 15px;
        }
      }
    }

  }
