.menu-item {
  min-width: 30%;
  height: 200px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(141, 182, 141);
  margin: 0 7.5px 15px;
  background-position:center;
  background-size: cover;
  transition: 1s;



  :hover{
    opacity: 0.7;
  } 



  &:first-child {
    margin-right: 0px;
  }

  &:last-child {
    margin-left: 0px;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid black;
    background-color:#fff;


    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}

@media(max-width:700px){

  .menu-item {
    min-width: 100%;
    height: 200px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0px 15px;
  }




}